<%= form_with url: '/name' do |form| %>
    <div id='errors'></div>
    <%= form.text_field :name, class: 'form-control' %>
    <p><%= form.submit("Изменить имя", class: "form-control" ,id: 'btn') %></p>
<% end %>