<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% unless @topic.valid? && @message.valid? %></h1>
        <% @topic.errors.full_messages.each do |error|%>
            <p><%= error %></p>
        <% end %>
        <% unless @message.valid?%>
            <% @message.errors.full_messages.each do |error| %>
                <p><%= error %></p>
            <% end %>
        <%end%>
    <%end%>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
</div>
